$duration: 1s;

.projets {
  &__img {
    &__big {
      width: 800px;
      height: 600px
    }

    &__little {
      width: 192px;
      height: 108px;
    }
  }
}


@media screen and (max-width: 1024px), (orientation: portrait) {
  .projets, .projets__close {
    margin-left: 0px;
    margin-top: 250px;
    min-width: 0px;
    width: 100vw;
    flex-direction: column;
    
    &__close {
      margin-top: 50px;
    }
    
    &__item {
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 3rem;
      &__img {
        width: 65vw;
        height: 65vw;
      }
      &__name {
        font-size: 3rem;
      }
    }
  }
}
