.title__page {
  text-align: center;
  font-size: 3rem;
  margin-top: 3rem;
}

.separator {
  width: 90%;
  height: 2px;
  border-radius: 5px;
  background-color: black;
  align-self: center;
  margin-bottom: 2rem;
}

@media screen and (max-width: 1024px), (orientation: portrait) {
  .title__page {
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 1rem;
  }
}
.app {
  background: radial-gradient(circle, rgba(15,10,32,1) 0%, rgba(44,44,162,1) 40%, rgba(15,11,33,1) 100%);
}
