.title__page {
  text-align: center;
  font-size: 3rem;
  margin-top: 3rem;
}

.separator {
  width: 90%;
  height: 2px;
  border-radius: 5px;
  background-color: black;
  align-self: center;
  margin-bottom: 2rem;
}

